body {
    text-align: center;
    font-family: Arial;
}

img {
    width: 200px;
}

#identificationExample {
    color: royalblue;
}

.box {
    height: 100px;
    width: 100px;
    align-content: center;
}

.red-box {
    background-color: red;
    color: white;
}

.blue-box {
    background-color: blue;
    color: white;
}

.quotes {
    color: red;
}